<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empBean" class="com.codezmr.beans.Employee">
		<property name="eid" value="E-111" />
		<property name="ename" value="CodeZMR" />
		<property name="esal" value="200000" />
	</bean>
	
</beans>