<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empBean" class="com.codezmr.beans.Employee">
		<property name="eid" value="E-111" />
		<property name="ename" value="CodeZMR" />
		<property name="esal" value="200000" />
		<property name="eaddr" value="07/40zmr-Bkpur-Mgr-Harbi-India" />
		 
		    <!-- Here provided address details in the form of text but we giving
		         intimation to the IOC-Container to convert this text data 
		         in the form of EmployeeAddress Bean and inject that bean into
		         Employee Object
		           -->
	</bean>
	
	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
		  <map>
		    <entry key="com.codezmr.beans.EmployeeAddress" value="com.codezmr.editor.EmployeeAddressEditor"/>
		  </map>
		</property>
	</bean>
</beans>