<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="i18nBean" class="com.codezmr.beans.I18NBean">
		<property name="messageSource" ref="resourceBundleMessageSource"></property>
	</bean>
	
	<bean id="resourceBundleMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	    <property name="basename" value="com/codezmr/resources/abc" />
	</bean>

</beans>